# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# R Environment Variables
.Renviron

# pkgdown site
docs/

# MacOS nonsense
.DS_Store

# everyone needs scrap paper
_scrap.R

# ignore raw data folder to keep private
data/raw/
data/clean/

# quarto
.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/

/agujournal2019.cls
/trackchanges.sty

/.luarc.json
.vscode/settings.json
